.banik-sider-menu-sider {
  position: relative;
  z-index: 10;
  min-height: 100%;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.banik-sider-menu-sider.fix-sider-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
}
